/************************************
            STICKY FOOTER
*************************************/

html {
    position: relative;
    min-height: 100%;
    z-index: 0;
}
body {
    height: 100%;
}

.footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    height: 30px;
    background-color: #de6a10;
}

.container .text-muted {
  margin: 5px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header {
    margin-top: 10px;
    
}